form {
    margin-top: 60px;
}
h1 {
    font-size: 25px;
    color: #563d7c;
}
#inputEmail, #inputPassword {
    border-radius: 5px;
    height: 35px;
    width: 230px;
}
#inputCheckbox {
    height: 15px;
    width: 15px;
}

.record {
    font-size: 16px;
}
.boton-signin {
    border: 2px solid #563d7c;
    color: #563d7c;
}
.boton-signin:hover {
    color: white;
    background-color: #563d7c;
    border: 2px solid #563d7c;
}
