
form {
    margin-top: 40px;
}
h1 {
    font-size: 25px;
    
}
#inputEmail, #inputPassword {
 
    /* height: 35px;
    width: 230px; */
}
#inputCheckbox {
    height: 15px;
    width: 15px;
}

.record {
    font-size: 16px;

}
.boton-signin {
    border: 2px solid black;
    color: black;
}
.boton-signin:hover {
    color: white;
    background-color: black;
    border: 2px solid black;
    transition: 2s ease;
    transform: rotate(360deg);
}
